<ion-view title="Device">
	<ion-content class="padding" scroll="false">
		<md-list [ng-change="setDevice();"]>
			<!--<md-item>
			<div>
				<h5>Device: </h5><div class="atributo" [id="device"]>{{divice}}</div>
			</div>
			</md-item>-->
			<md-item>
				<div>
					<h5>Cordova: </h5><div class="atributo" [id="cordova"]>{{cordova}}</div>
				</div>
			</md-item>
			<md-item>
				<div>
					<h5>Model: </h5><div class="atributo" [id="model"]>{{model}}</div>
				</div>
			</md-item>
			<md-item>
				<div>
					<h5>Platform: </h5><div class="atributo" [id="platform"]>{{platform}}</div>
				</div>
			</md-item>
			<md-item>
				<div>
					<h5>UUID: </h5><div class="atributo" [id="uuid"]>{{uuid}}</div>
				</div>
			</md-item>
			<md-item>
				<div>
					<h5>Version: </h5><div class="atributo" [id="version"]>{{version}}</div>
				</div>
			</md-item>
		</md-list>
	</ion-content>
</ion-view>