<ion-view title="Device">
	<ion-content class="padding" scroll="false">
		<md-list [ng-change="setDevice();"]>
			<!--<md-item>
			<div>
				<h5>Device: </h5><div class="atributo" [id="device"]>{{divice}}</div>
			</div>
			</md-item>-->
			<md-item>
				<div>
					<div class="atributo" [id="cordova"]><h5>Versão Cordova: {{cordova}}</h5></div>
				</div>
			</md-item>
			<md-item>
				<div>
					<div class="atributo" [id="model"]><h5>Model: {{model}}</h5></div>
				</div>
			</md-item>
			<md-item>
				<div>
					<div class="atributo" [id="platform"]><h5>Platform: {{platform}}</h5></div>
				</div>
			</md-item>
			<md-item>
				<div>
					<div class="atributo" [id="uuid"]><h5>UUID: {{uuid}}</h5></div>
				</div>
			</md-item>
			<md-item>
				<div>
					<div class="atributo" [id="version"]><h5>Version: {{version}}</h5></div>
				</div>
			</md-item>
		</md-list>
	</ion-content>
</ion-view>