<ion-view view-title="Home">
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title">{{title}}</span>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation. We hide it in small screens. -->
		</div>
	</header>
	<div class="mdl-layout__drawer">
		<span class="mdl-layout-title">{{title}}</span>
	</div>
	<main class="mdl-layout__content">
	<div class="page-content" scroll="false">
		<!-- Your content goes here -->
		<div class="row">
			<div class="col s6">
				<div class="btn-abrir row">
					<a href="#/app/scan" class="row">
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored botao" [ng-click="scanBarcode();"]>
						<i class="ion-qr-scanner"></i>
						</button>
						<div class="col s5"><h5>Confirmar Presença</h5></div>
					</a>
				</div>
				<div class="btn-abrir row">
					<a href="#/" class="row">
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
						<i class="ion-arrow-graph-up-right"></i>
						</button>
						<div class="col s5"><h5>Estatisticas</h5></div>
					</a>
				</div>
				<div class="btn-abrir row">
					<a href="#/app/map" class="row">
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
						<i class="ion-android-map"></i>
						</button>
						<div class="col s5"><h5>Localização</h5></div>
					</a>
				</div>
				
				<!--<div class="btn-abrir row">
						<a href="#/" class="row">
								<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" href="#/app/device">
									<i class="ion-android-map"></i>
								</button>
								<div class="col s5"><h5>Sistema</h5></div>
						</a>
				</div>-->
				<div class="btn-abrir row">
					<a href="#/app/login" class="row">
						<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" href="#/app/login">
						<i class="ion-android-map"></i>
						</button>
						<div class="col s5"><h5>Sair</h5></div>
					</a>
				</div>
			</div>
		</div>
	</div>
	</ion-content>
</div>
</main>
</div>
</ion-view>