<ion-view view-title="Home">
	<ion-content scroll="false">
		<div class="list list-inset">
			<div class="list card">
				<a href="#/app/home" class="item item-icon-left">
					<i class="icon ion-home"></i>
					Tela Inicial
				</a>
				<a href="#/app/login" class="item item-icon-left">
					<i class="icon ion-ios-telephone"></i>
					Tela de login
				</a>
				<a href="#/app/map" class="item item-icon-left">
					<i class="icon ion-wifi"></i>
					Tela de mapa
				</a>
				<a href="#/app/scan" class="item item-icon-left">
					<i class="icon ion-card"></i>
					Tela de abrir aula
				</a>
				<a href="#/app/device" class="item item-icon-left">
					<i class="icon ion-wifi"></i>
					Tela de device
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>