<ion-view view-title="Entrar" hide-back-button="true" hide-nav-bar="true"><!--  hide-nav-bar="true" hide-back-button="true" -->
	<ion-content>
		<div class="">
			<div class="row">
				<form class="col s12">
					<!--<ul id="dropdown2" class="dropdown-content">
						<li><a href="#!">Aluno<span class="badge"></span></a></li>
						<li><a href="#!">Professor<span class="new badge"></span></a></li>
						<li><a href="#!">Instituição</a></li>
					</ul>
					<a class="btn dropdown-button" href="#!" data-activates="dropdown2"><i class="mdi-navigation-arrow-drop-down right"></i></a>-->
					<div class="row">
						<div class="input-field col s12">
							<input type="text" id="ipt-ra" class="validate">
							<label for="ra">RA</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="password" type="password" class="validate">
							<label for="password">Senha</label>
						</div>
					</div>
					<div layout="row" class="area-buttom">
						<button type="submit" id="btn-entrar" class="button button-block button-positive" ng-click="auth();">Entrar</button>
						<!--<a [href="#/app/signup"] class="button button-raised button-stable ink-dark button-block" ng-click="alert('Cadastrar');">Crie um conta</a>-->
					</div>
				</form>
			</div>
		</div>
	</ion-content>
</ion-view>
<script src="lib/jquery/dist/jquery.min.js" type="text/javascript"></script>