<ion-view title="Abrir Aula">
	<!--<ion-nav-buttons side="left">
		<a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>-->
    <ion-content class="padding" scroll="false">
    	<div class="row row-bottom">
    		<button class="button waves-effect waves-light btn-large materialize-red bar" ng-click="scanBarcode();" >
    			Ler o codigo de presença
    		</button>
    	</div>
    	<!--<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>-->
    </ion-content>
</ion-view>
