<ion-view title="Search">
  <ion-content scroll="false">
    <nav>
      <div class="nav-wrapper materialize-red">
        <form>
          <div class="input-field">
            <input id="search" type="search" placeholder="" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
        <!--<label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>-->
      </div>
    </nav>
  </ion-content>
</ion-view>