header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.md-button {
	padding: 0 6px 0 6px;
	margin: 6px 8px 6px 8px;
	min-width: 88px;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	text-decoration:none;
	border: none;
	outline: none;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}
.flex {
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  box-sizing: border-box;
}
.flex-20 {
  -webkit-flex: 1 1 20%;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  max-width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}

.layout-row .flex-33 {
  -webkit-flex: 1 1 calc(100% / 3);
  -ms-flex: 1 1 calc(100% / 3);
  flex: 1 1 calc(100% / 3);
  box-sizing: border-box;
}

.layout-row  .flex-66 {
  -webkit-flex: 1 1 calc(200% / 3);
  -ms-flex: 1 1 calc(200% / 3);
  flex: 1 1 calc(200% / 3);
  box-sizing: border-box;
}

.layout-row .flex-33 {
  max-width: calc(100% / 3);
  max-height: 100%;
}

.layout-row  .flex-66 {
  max-width: calc(200% / 3);
  max-height: 100%;
}

.layout-column .flex-33 {
  max-width: 100%;
  max-height: calc(100% / 3);
}

.layout-column  .flex-66 {
  max-width: 100%;
  max-height: calc(200% / 3);
}

#painel-login{
  position: fixed;
  bottom: 10%;
}
.btn-abrir{
  padding: 0px;
}
#btn-scan{
  position: fixed;
  bottom: 3px;
}
#copy-fixed{
  position: fixed;
  bottom: 3px;
}
.botao{
  padding: 0px;
}